* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
}



div {
    border: 1px solid black;
    width:30%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix {
    clear: both;
}