* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

html, body {
    padding-top: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

a, a:visited {
   color: dodgerblue;
   text-decoration: none;
}

a:hover {
    color: lightskyblue;
    text-decoration: underline;
}

.border {
    border: 1px solid #cecece;
}

.container {
    max-width: 90%;
    margin: auto;
}

.d-flex {
    display: flex;
}